@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

$grey: #707070;
$white: #ffffff;
$black: #000000;
$purple: #211c51;
$blue: #212338;
$pink: #A046D3;

.flex {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

body {
    background: linear-gradient(left, #7250d5, #aa47a5 50%, #f43a67 99%);
}

nav {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: $white;

    .navbar {
        justify-content: space-between;

        input {
            display: none;
        }

        .unusefull {
            display: none;
        }

        .site-link {
            width: 680px;
            position: relative;
            justify-content: space-between;

            .link {
                font-size: 15px;
                text-decoration: none;
                text-transform: capitalize;
                transition: 0.5s;
                color: $grey;

            }

            .link:hover {
                color: black;
            }

            .btn {
                justify-content: center;
                background-color: $pink;
                color: $white;
                border-radius: 25px;
                width: 90px;
                height: 40px;
            }

            .btn:hover {
                color: $white;
                background: rgb(156, 37, 183);
            }

            span {
                font-size: 15px;
                text-decoration: none;
                text-transform: capitalize;
                transition: 0.5s;
                color: $grey;
            }

            .drop {
                display: none;
                width: 160px;
                height: 64px;
                border-radius: 0 0 5px 5px;
                position: absolute;
                top: 51px;
                right: 170px;
                background-color: $white;
                list-style-type: none;
            }

            .more:hover>.drop {
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding: 0 25px;
                line-height: 25px;
            }
        }
    }

}

main {
    .hero {
        background: rgb(141, 86, 209);
        background: linear-gradient(105deg, rgba(141, 86, 209, 0.8242647400757178) 27%, rgba(236, 73, 112, 0.7514356084230567) 67%, rgba(231, 64, 146, 1) 67%);
        margin-top: 60px;
        width: 100%;
        height: 500px;

        .content {
            flex-direction: column;

            h1 {
                width: 900px;
                font-size: 44px;
                font-weight: 500;
                text-align: center;
                color: $white;
                line-height: 51px;
                margin-top: 90px;
            }

            h2 {
                font-size: 30px;
                color: $blue;
            }

            h4 {
                padding: 20px 0;
                background: rgb(141, 86, 209);
                background: linear-gradient(105deg, rgba(141, 86, 209, 0.8242647400757178) 27%, rgba(236, 73, 112, 0.7514356084230567) 67%, );
                background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 18px;
                font-weight: 400;

                i {
                    padding: 0 8px;
                }
            }

            p {
                width: 650px;
                font-size: 18px;
                color: $blue;
                font-weight: 400;
                line-height: 30px;
                margin-top: 20px;
            }

            .video {
                z-index: 10;
                margin-top: 50px;
            }


        }
    }

    .boxes {
        width: 800px;
        justify-content: space-between;
        margin: 0 auto;
        background: rgb(141, 86, 209);
        background: linear-gradient(105deg, rgb(101, 98, 235) 27%, rgb(232, 92, 235) 67%, );
        background-clip: text;
        -webkit-text-fill-color: transparent;

        .box {
            flex-direction: column;
            margin: 100px 0;

            h1 {
                font-size: 40px;
            }

            p {
                font-size: 14px;
                color: $black;
            }
        }
    }

    .g {
        background-color: $white;
        margin-top: 50px;
        margin: 0 auto;
        rotate: -1deg;
        margin-top: -30px;
        width: 99.95%;
        overflow-x: auto;
        height: 100px;
        box-sizing: inherit;
    }

    .main {
        justify-content: center;
        flex-direction: column;

        h2 {
            font-size: 26px;
            font-weight: 500;
            color: $blue;
        }

        p {
            font-size: 18px;
            font-weight: 400;
            color: $blue;
            line-height: 20px;
            padding-top: 40px;
        }

        .video {
            margin-top: 80px;
        }
    }
}

.cards {
    margin-top: 100px;
    justify-content: space-between;
    width: 820px;
    margin: 0 auto;
    flex-wrap: wrap;

    .card {
        margin-top: 50px;
        width: 385px;
        height: 250px;
        background-color: $white;
        border-radius: 20px;
        box-shadow: 0 0 10px 10px #f0f0f0;

        p {
            font-size: 16px;
            color: $blue;
            padding: 15px 30px;
            line-height: 28px;
        }

        .profil {
            width: 280px;
            padding: 10px 30px;
            justify-content: space-between;

            img {
                border-radius: 50%;
                width: 48px;
                height: 48px;
            }

            .asosiy {
                width: 150px;

                h5 {
                    font-size: 16px;
                    color: $blue;
                }

                a {
                    font-size: 14px;
                    color: $grey;
                }
            }
        }
    }
}

@media (min-width:901px) and (max-width:1200px) {
    .container {
        max-width: 950px;
        width: 100%;
        margin: 0 auto;
    }

    .navbar {
        input {
            display: none;
        }
    }

    main {
        .hero {
            margin-top: 60px;
            width: 100%;
            height: 500px;

            .content {
                flex-direction: column;

                h1 {
                    width: 900px;
                    font-size: 44px;
                    margin-top: 90px;
                }

                h2 {
                    font-size: 30px;
                }

                h4 {
                    padding: 20px 0;
                    font-size: 18px;

                    i {
                        padding: 0 8px;
                    }
                }

                p {
                    width: 650px;
                    font-size: 18px;
                    margin-top: 20px;
                }

                .video {
                    margin-top: 50px;
                }


            }
        }

        .boxes {
            width: 700px;

            .box {
                margin: 50px 0;

                h1 {
                    font-size: 40px;
                }

                p {
                    font-size: 14px;
                }
            }
        }

        .g {
            margin-top: 50px;
            margin: 0 auto;
            rotate: -1deg;
            margin-top: -30px;
            width: 99.95%;
            height: 100px;
        }

        .main {
            h2 {
                font-size: 26px;
            }

            p {
                font-size: 18px;
                padding-top: 40px;
            }

            .video {
                margin-top: 80px;
            }
        }
    }

    .cards {
        margin-top: 100px;
        width: 820px;

        .card {
            margin-top: 50px;
            width: 385px;
            height: 250px;

            p {
                font-size: 16px;
            }

            .profil {
                width: 280px;
                padding: 10px 30px;

                img {
                    width: 48px;
                    height: 48px;
                }

                .asosiy {
                    width: 150px;

                    h5 {
                        font-size: 16px;
                    }

                    a {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media (min-width:769px) and (max-width:900px) {
    .container {
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
    }



    nav {
        .none {
            display: none;
        }

        .navbar {
            .unusefull {
                display: block;
            }

            input {
                display: none;
            }

            i {
                font-size: 30px;
                color: $grey;
            }

            label {
                z-index: 100;
            }

            .div-nav {
                right: 0;
                position: fixed;
                width: 100%;
                top: 0;
                bottom: 0;
                right: -100%;
                transition: 0.5s;
            }

            #burger:checked~.div-nav {
                right: 0;
            }

            .div-nav {
                display: flex;
                justify-content: space-between;
            }

            .menu-bar {
                margin: 0 auto;
                width: 100%;
                height: auto;
                color: #fff;
                display: flex;
                background-color: #000;
                overflow: auto;
            }

            .contacts {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }

            .contacts a {
                line-height: 70px;
                font-size: 30px;
                color: #fff;
                text-decoration: none;
            }
        }
    }

    main {
        .hero {
            margin-top: 60px;
            width: 900px;
            height: 500px;

            .content {
                flex-direction: column;

                h1 {
                    width: 850px;
                    font-size: 44px;
                    margin-top: 90px;
                }

                h2 {
                    font-size: 30px;
                }

                h4 {
                    padding: 20px 0;
                    font-size: 18px;

                    i {
                        padding: 0 8px;
                    }
                }

                p {
                    width: 650px;
                    font-size: 18px;
                    margin-top: 20px;
                }

                .video {
                    margin-top: 50px;
                }


            }
        }

        .boxes {
            width: 700px;

            .box {
                margin: 50px 0;

                h1 {
                    font-size: 40px;
                }

                p {
                    font-size: 14px;
                }
            }
        }

        .g {
            margin-top: 50px;
            margin: 0 auto;
            rotate: -1deg;
            margin-top: -30px;
            width: 99.95%;
            height: 100px;
        }

        .main {
            h2 {
                font-size: 26px;
            }

            p {
                font-size: 18px;
                padding-top: 40px;
            }

            .video {
                margin-top: 80px;
            }
        }
    }

    .cards {
        margin-top: 100px;
        width: 800px;

        .card {
            margin-top: 30px;
            width: 385px;
            height: 280px;
            display: flex;
            justify-content: center;
            flex-direction: column;

            p {
                font-size: 16px;
            }

            .profil {
                width: 280px;
                padding: 10px 30px;

                img {
                    width: 48px;
                    height: 48px;
                }

                .asosiy {
                    width: 150px;

                    h5 {
                        font-size: 16px;
                    }

                    a {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media (min-width:481px) and (max-width:768px) {
    .container {
        max-width: 700px;
        width: 100%;
        margin: 0 auto;
    }

    nav {
        .none {
            display: none;
        }

        .navbar {
            width: 600px;
            margin: 0 auto;

            .unusefull {
                display: block;
            }

            input {
                display: none;
            }

            i {
                font-size: 30px;
                color: $grey;
            }

            label {
                z-index: 100;
            }

            .div-nav {
                right: 0;
                position: fixed;
                width: 100%;
                top: 0;
                bottom: 0;
                right: -100%;
                transition: 0.5s;
            }

            #burger:checked~.div-nav {
                right: 0;
            }

            .div-nav {
                display: flex;
                justify-content: space-between;
            }

            .menu-bar {
                margin: 0 auto;
                width: 100%;
                height: auto;
                color: #fff;
                display: flex;
                background-color: #000;
                overflow: auto;
            }

            .contacts {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }

            .contacts a {
                line-height: 70px;
                font-size: 30px;
                color: #fff;
                text-decoration: none;
            }
        }
    }

    main {
        width: 768px;

        .hero {
            margin-top: 60px;
            width: 768px;
            height: 300px;

            .content {
                flex-direction: column;

                h1 {
                    width: 600px;
                    font-size: 30px;
                    margin-top: 40px;
                }

                h2 {
                    font-size: 30px;
                }

                h4 {
                    padding: 20px 0;
                    font-size: 18px;

                    i {
                        padding: 0 8px;
                    }
                }

                p {
                    max-width: 640px;
                    width: 100%;
                    font-size: 18px;
                    margin-top: 20px;
                }

                .video {
                    margin-top: 50px;
                    width: 280px;
                    height: 170px;
                }


            }
        }

        .boxes {
            width: 650px;

            .box {
                margin: 30px 0;

                h1 {
                    font-size: 40px;
                }

                p {
                    font-size: 14px;
                }
            }
        }

        .g {
            margin-top: 50px;
            margin: 0 auto;
            rotate: -1deg;
            margin-top: -30px;
            width: 99.95%;
            height: 100px;
        }

        .main {
            h2 {
                font-size: 26px;
            }

            p {
                font-size: 18px;
                padding-top: 40px;
            }

            .rasm {
                width: 100%;
                height: 370px;
                margin-top: 50px;
            }
        }
    }

    .cards {
        margin-top: 100px;
        width: 700px;
        flex-direction: column;

        .card {
            margin-top: 30px;
            width: 100%;
            height: 280px;
            display: flex;
            justify-content: center;
            flex-direction: column;

            p {
                font-size: 16px;
            }

            .profil {
                width: 280px;
                padding: 10px 30px;

                img {
                    width: 48px;
                    height: 48px;
                }

                .asosiy {
                    width: 150px;

                    h5 {
                        font-size: 16px;
                    }

                    a {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}